@font-face {
  font-family: Jambo;
  font-style: normal;
  font-weight: normal;
  src: url("Jambo.otf") format("opentype");
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
　　position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#content {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #3B3639;
}

.background-container {
  position: absolute;
  margin-top: 30vh;
  top: 0;
  left: 40vw;
}

.weather-box{
  height: 40vh;
  width: 30vw;
  float: none;
  text-align: center;
  border-radius: 16px;
  position: absolute;
  z-index: 3;
}

#background{
  height: 40vh;
  width: 30vw;
  float: none;
  border-radius: 16px;
  position: absolute;
  z-index: 2;
}

.title {
  font-family: Jambo;
  font-size: 2em;
  margin-bottom: 20px;
}

.blank {
  background-color: white;
}

.Clear{
  border-radius: 16px;
  background-image: url(../img/clear.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.Fog{
  background-image: url(../img/fog.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.Mist{
  background-image: url(../img/mist.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.Snow{
  background-image: url(../img/snow.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.Rain{
  background-image: url(../img/rain.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


