@font-face {
  font-family: Jambo;
  font-style: normal;
  font-weight: normal;
  src: url("Jambo.otf") format("opentype");
}

@font-face {
  font-family: Sugar;
  font-style: normal;
  font-weight: normal;
  src: url("Sugar.ttf") format("truetype");
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;

}

#background {
  background-color: #7F695A;
}

#content {
  margin: 0　auto;
　　height: 100%;
}

#weather-box{
  margin-top: 50px;
}


.info-box {
  font-family: Sugar;
  font-size: 1.5em;
  display: block;
  color: orange;
}

.info-box div {
  margin-bottom: 20px;
  font-size: 1.5em;
}

#basic-addon1 {
  cursor: pointer;
}

.title {
  font-family: Jambo;
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 20px;
}

#w-app{
  color: orange;
}

#weather-img {
  width: 200px;
}

#orange-bar {
  border: 1px solid orange;
}

#orange-button {
  border: 1px solid orange;
  background-color: orange;
}

