@font-face {
  font-family: Jambo;
  font-style: normal;
  font-weight: normal;
  src: url("Jambo.otf") format("opentype");
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title {
  font-family: Jambo;
  font-size: 2em;
}

